//@import '@/styles/mixins' 

.confugurator-body {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.pc { 
    grid-area: 1 / 1 / 3 / 3; 
    background-color: lightblue;
    @include flexElement;
}
.c2 { grid-area: 1 / 3 / 3 / 5; }
.c3 { grid-area: 1 / 5 / 3 / 7; }
.c4 { grid-area: 1 / 7 / 3 / 9; }
.c5 { grid-area: 3 / 7 / 5 / 9; }
.c6 { grid-area: 3 / 3 / 7 / 7; }
.c7 { grid-area: 5 / 7 / 7 / 9; }
.c8 { grid-area: 7 / 7 / 9 / 9; }
.c9 { grid-area: 7 / 5 / 9 / 7; }
.c10 { grid-area: 7 / 3 / 9 / 5; }
.c11 { grid-area: 7 / 1 / 9 / 3; }
.c12 { grid-area: 5 / 1 / 7 / 3; }
.c13 { grid-area: 3 / 1 / 5 / 3; }

