@mixin flexElement {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

@mixin confDesign {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}

.dropdown {
        width: 100%;
        height: 30px;
        background-color: white;
    }

.confugurator-body {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}

.pc { 
    grid-area: 1 / 1 / 3 / 3; 
    background-color: lightblue;
    @include confDesign;
}
.c2 { 
    grid-area: 1 / 3 / 3 / 5;
    background-color: lightgreen;
    @include flexElement; 
}

.c3 { 
    grid-area: 1 / 5 / 3 / 7; 
    background-color: lightcoral;
    @include flexElement;
}

.c4 { grid-area: 1 / 7 / 3 / 9; 
    background-color: lightgoldenrodyellow;
    @include flexElement;
}

.c5 { grid-area: 3 / 7 / 5 / 9; 
    background-color: lightpink;
    @include flexElement;
}

.c6 { grid-area: 3 / 3 / 7 / 7; 
    background-color: lightgray;
    @include flexElement;
}

.c7 { grid-area: 5 / 7 / 7 / 9; 
    background-color: lightcyan;
    @include flexElement;
}

.c8 { grid-area: 7 / 7 / 9 / 9; 
    background-color: lightseagreen;
    @include flexElement;
}

.c9 { grid-area: 7 / 5 / 9 / 7; 
    background-color: lightsteelblue;
    @include flexElement;
}

.c10 { grid-area: 7 / 3 / 9 / 5; 
    background-color: lightyellow;
    @include flexElement;
}

.c11 { grid-area: 7 / 1 / 9 / 3; 
    background-color: lightcoral;
    @include flexElement;
}

.c12 { grid-area: 5 / 1 / 7 / 3; 
    background-color: lightblue;
    @include flexElement;
}

.c13 { grid-area: 3 / 1 / 5 / 3; 
    background-color: lightgreen;
    @include flexElement;
}

.progress-bar {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

