header {
    background-color: var(--white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    ul{
        display: flex;
        li{
            list-style: none;
        }
        li:not(:first-child){
            margin-left: 1rem;
        }
    }
    }


@media (max-width: 700px){
    header{
        display: block;
        h1 {
            font-size: 4em;
            margin: 0;
            margin-bottom: 20px;
        }
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .menu-list{
            position: absolute;
            .burger-menu{
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                span{
                    width: 100%;
                    height: 18%;
                    background-color: var(--main-blue);
                }
            }
        }
    }
}