@mixin forButton {
  background-color: var(--main-blue); // темно-синий
  color: #ffffff; // белый текст
  padding: 0.5rem 1.25rem;
  border: none;
  border-radius: 0.5rem; // скругление углов
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var( --main-dark-blue); // чуть темнее при наведении
  }
}

@mixin buttonStyle {
    background-color: #172A48;
}

@mixin flexElement {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}